@page "/associations"

<h1>Associations</h1>

<p>Use this page to manage the associations that can be accessed in the application</p>
<ul><li><b><input type="checkbox" /> Manly Warringah Football Association (MWFA)</b></li></ul>
<button class="btn btn-primary">Delete</button><br />


<input /><button class="btn btn-primary">Add</button>


