@page "/"

<h1>Referee Finder</h1>

<p>Looking for a referee for your next game? Team referee let you down? Don't panic. Referee Finder will help you find a referee. Simply
    choose your association from the list below</p>

<p><b>Manly Warringah Football Assocation (MWFA)</b></p>

<SurveyPrompt Title="How is Blazor working for you?" />
